<div class="column-layout group"></div>
<div class="column-layout group_1">
  <div class="column-layout group_2"></div>
  <div class="column-layout group_3">
    <igx-list class="list">
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar icon="person" [roundShape]="true"></igx-avatar>
        </span>
        <span igxListLineTitle>Title goes here</span>
        <span igxListLineSubTitle>Subtitle...</span>
        <span igxListAction>
          <igx-icon class="icon">
            star
          </igx-icon>
        </span>
      </igx-list-item>
    </igx-list>
  </div>
</div>
